/* B one - target the anchor tag a change the color */
nav a {
    color:green;
}
/* B two - target the first h2 tag and change the text and background color*/
nav > h2 {
color : red;
background-color:snow;
}
/* B three - target the first p tag and change the text to red*/
ul+p{
    color: red;

}
/* c two - target the anchor tag with the attribute of class name "active"'
change the text color, and provide the text style properties with underliing.
*/
a[class="active"]{
    color: blue;
    text-decoration: underline;
}
/* c three - target the anchor tag with the atrribute of class target whose value is" _self" and change the bgc.*/
a[target="-self"]{
    background-color: azure;
}
/* among the three p tag target the 2nd p tag, select the first letter of the second p tag and change the color to read also increase the font size to 30px*/
p:ninth-child(even)::first-letter{
    color:red;
    font-size: 30px;
}